@keyframes turnAround {
    0% {
        transform: rotate(0deg) /*scale(0.75)*/;
    }

    50% {
        transform: rotate(180deg) /*scale(1)*/;
    }

    100% {
        transform: rotate(360deg) /*scale(0.75)*/;
    }
}

/* Réinitialisation de la marge et du rembourrage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cover {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vinyle {
    width: 450px;
    height: 450px;
}

.disque {
    position: relative;
    display: inline-block;
    animation: turnAround 5s infinite linear;
}

.pause{
    animation-play-state: paused;
}

#aleatoire {
    margin-top: 20px; /* Espacement par rapport au lecteur audio */
    background-color: #00a500b0; /* Couleur de fond */
    border: none;
    color: #ffffffe0; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne */
    font-size: 16px;
    border-radius: 5px; /* Bords arrondis */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition en cas de survol */
}

#aleatoire:hover {
    background-color: #00d836b0; /*  Nouvelle couleur de fond au survol  */
}

/* Style pour le conteneur principal */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; /* Alignement en haut */
    padding: 20px;
}

/* Style pour le conteneur de la playlist */
.playlist-container {
    width: 40%; /* Ajustez la largeur selon vos préférences */
}

/* Style pour le conteneur du vinyle */
.vinyle-container {
    width: 40%; /* Ajustez la largeur selon vos préférences */
    text-align: center;
}

/* Style pour le lecteur audio */
#audio {
    width: 100%;
    margin-top: 20px;
}

/* Style pour la liste de lecture */
#playlist {
    list-style: none;
    padding: 0;
}

#playlist li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #2980b9b0; /* Bleu */
    color: #ffffffe0; /* Texte blanc */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#playlist li:hover {
    background-color: #3498dbb0; /* Changement de couleur au survol */
}

#playlist li h2 {
    margin: 0;
    font-size: 18px;
}

#playlist li div small {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #252525;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.lecteur {
    width: 60%;
    text-align: center;
}

/* Style pour le lecteur audio */
.lecteur-container {
    margin-top: 20px;
    text-align: center;
}

/* Style pour le bouton "Tirage au sort !" */
.button-container {
    width: 100%;
    padding: 0px;
}

@keyframes highlight {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.current-track {
    animation: highlight 1.5s infinite; /* Animation pour le titre en cours d'écoute */
}

/* Style pour la zone de tri */
.sorting-options {
    margin-bottom: 20px;
}
  
/* Style pour l'étiquette du sélecteur de catégorie */
.sorting-options label {
    font-weight: bold;
}
  
/* Style pour la liste déroulante */
#category-select {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 200px;
    background-color: #a5a5a5b0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}
  
/* Style pour les options de la liste déroulante */
#category-select option {
    padding: 8px;
    font-size: 14px;
}
  
/* Style lorsque la liste déroulante est survolée */
#category-select:hover {
    background-color: #ffffffb0;
}